---
import Header from "../components/Header.astro";
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="Astro">
	<Header />
	<h1 class="text-center text-3xl p-4">Astro</h1>
</PageLayout>
